*, html{
	padding: 0;
	margin: 0;
}

.container{
}

.container-nav{
	background-color: blue;
	height: 10vh;
}

.ul-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.li-nav{
	list-style-type: none;
	/*border: 1px solid white;
	background-color: lightskyblue;*/
	padding: 10px;
	margin: 4px;
	color: white;
	font-size: 30px;
}

.container-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 80vh;
}

.img-cont{
	height: 60%;
	width: 40%;
}

.container-footer{
	height: 10vh;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}
